.file-item-container {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: grid;
  place-items: center;
  margin: 1%;
  border: 1px solid #AAAAAA;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  grid-template-columns: auto 1fr auto;
  min-width: 100px;
}

.file-item-container:hover {
  background-color: rgb(199, 197, 197);
}

.file-item-text-container {
  grid-area: 1 / 2 / 3 / 3;
  text-align: center;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-item-text {
  margin-top: 14px;
  text-overflow: ellipsis;
}

.file-item-icon {
  justify-content: left;
  position: relative;
  margin-left: 10px;
  height: 28px;
  width: 28px;
  border: none;
  margin-top: 10px;
  grid-area: 1 / 1 / 2 / 2;
}
