.files-area-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:baseline;
  align-content: flex-start;
  overflow: scroll;
  grid-area: 0 / 1 / 2 / 2;
  background-color: white;
  height: 100%;
}
